/* line 4, ../sass/global/_typography.scss */
h1 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-size: 2em;
  padding: 4px 0;
}

/* line 11, ../sass/global/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 15, ../sass/global/_typography.scss */
a {
  color: black;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: black;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: grey;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: grey;
}
/* line 17, ../sass/global/_typography.scss */
a:hover {
  text-decoration: none;
}

/* line 23, ../sass/global/_typography.scss */
.text-center {
  clear: both;
}

/* line 3, ../sass/partials/_menu.scss */
.navbar-default {
  background: transparent;
  border: none;
  min-height: 0;
}

/* line 8, ../sass/partials/_menu.scss */
.navbar-header {
  width: 100%;
}
/* line 10, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle {
  background-color: transparent;
  border: none;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 100;
}
/* line 18, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
/* line 21, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle .icon-bar {
  background-color: black;
  height: 3px;
}

/* line 29, ../sass/partials/_menu.scss */
.drawer.in + .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* line 35, ../sass/partials/_menu.scss */
.drawer {
  background: black;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 36, ../sass/partials/_menu.scss */
.drawer a {
  color: white;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.drawer a:visited {
  color: white;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.drawer a:hover {
  color: grey;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.drawer a:active {
  color: grey;
}
/* line 39, ../sass/partials/_menu.scss */
.drawer .menu {
  margin-top: 40px;
}
/* line 41, ../sass/partials/_menu.scss */
.drawer .menu a:hover {
  background-color: transparent;
}

/* line 53, ../sass/partials/_menu.scss */
.footer-menu {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
/* line 57, ../sass/partials/_menu.scss */
.footer-menu li {
  list-style: none;
}
/* line 60, ../sass/partials/_menu.scss */
.footer-menu a {
  color: black;
  font-weight: bold;
}

/* line 4, ../sass/partials/_block.scss */
.block-views-our-programs {
  clear: both;
}

/* line 8, ../sass/partials/_block.scss */
.region-footer {
  border-top: 4px solid black;
}
/* line 10, ../sass/partials/_block.scss */
.region-footer .block {
  float: left;
  padding-bottom: 3em;
  padding-top: 1em;
  width: 50%;
}

/* line 4, ../sass/partials/_node.scss */
.node-teaser {
  float: left;
  margin: 2em;
  min-height: 300px;
  display: table;
}
/* line 9, ../sass/partials/_node.scss */
.node-teaser h2 {
  margin: 0.25em 0 0;
}
/* line 11, ../sass/partials/_node.scss */
.node-teaser h2 a {
  color: black;
  font-style: normal;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser h2 a:visited {
  color: black;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser h2 a:hover {
  color: grey;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser h2 a:active {
  color: grey;
}
/* line 16, ../sass/partials/_node.scss */
.node-teaser a {
  color: grey;
  font-weight: bold;
  font-style: italic;
}
/* line 18, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser a:visited {
  color: grey;
}
/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.node-teaser a:active {
  color: black;
}

/* line 25, ../sass/partials/_node.scss */
.node-type-program h1,
.node-type-project h1 {
  border-top: none;
}
/* line 27, ../sass/partials/_node.scss */
.node-type-program h1.title,
.node-type-project h1.title {
  display: none;
}
