// Default Styles - Global
// --------------------------------------------------------

body {
  @extend %base-font;
  color: $black;
  margin: 0;
}

p {
  font-weight: $font-weight-light;
}
// h1-h6
#{headings(1,6)}{
  @extend %base-font;
  line-height: 1.3;
  & + p { // reduce paragraph margin after header
    margin-top: 0;
  }
}

h1 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 2em;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;
  padding: 4px 0;
}
h3,
h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 0;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

// links
li a,
a {
  transition: color 0.2s;
  @include link-colors(
    black, //normal
    grey, //hover
    grey, //active
    black //visited
  );
  text-decoration: none;
}
.field-name-body {
  a,
  a:hover {
    text-decoration: underline;
  }
}

// other
blockquote {
  color: tint(black, 15%);
  font-size: 85%;
}

hr {
  border: 0;
  border-bottom: 3px solid black;
  color: black;
  height: 1px;
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}
.more-link,
.more-help-link {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  padding: .5em 0;
  a {
    @include link-colors(black, grey);
    text-decoration: none;
    &:after {
      content: ' ...';
    }
  }
}

// List Styles
.item-list {
  ul,
  ol {
    li {
      margin-bottom: .5em;
    }
  }
}
.field-name-body ul {
  list-style-image: url(../images/bullet.png);
  padding-left: 20px;
  padding-top: .5em;
  li {
    margin-bottom: 1.5em;
    padding-left: 10px;
  }
}

// Image Styles
// --------------------------------------------------------
img {
  @include breakpoint($hand) {
    height: auto;
    max-width: 100%;
  }
}

a.pdf {
  background: url(/modules/file/icons/application-pdf.png) no-repeat 0 3px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 5px;
}

// Main Content Styles
// --------------------------------------------------------
.submitted {
  color: grey;
  font-size: .9em;
}

.front  {
  .logo {
    padding: 1em 0;
    @include breakpoint($desktop) {
      @include box-sizing(border-box);
      @include span(6.5 of 8 last);
      padding: 3em 1em;
    }
    img {
      @include breakpoint($hand) {
        width: 100%;
      }
      @include breakpoint($gthand) {
        width: 50%;
      }
    }
  }
}

.logo {
  font-weight: bold;
  padding-bottom: 2em;
  font-size: 1.2em;
  margin-top: -18px;
  @include breakpoint($desktop) {
    font-size: 1.7em;
    margin-top: -22px;
  }
  @include breakpoint($tablet) {
    font-size: 1.5em;
    margin-top: -20px;
  }
  a:hover {
    color: black;
  }
  img {
    height: auto;
    width: 400px;
  }
  .plus {
    color: #0db2df;
  }
}

.page-header {
  @include span(8 of 8 last);
  border-bottom: none;
}

a {
  @include link-colors(black, grey, grey, black);
  &:hover {
    text-decoration: none;
  }
}

.text-center {
  clear: both;
}
.region-content {
  @include breakpoint($desktop) {
    padding-left: 100px;
  }
}


// Screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}