// Default Styles - Global
// --------------------------------------------------------

body {
  @extend %base-font;
  color: black;
  font-size: 95%;
  margin: 0;
}

// h1-h6
#{headings(1,6)}{
  @extend %base-font;
  line-height: 1.3;
  margin-bottom: .75em;
}

h1 {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 4px 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

// links
li a,
a {
  transition: color 0.2s;
  @include link-colors(
    black, //normal
    grey, //hover
    grey, //active
    black //visited
  );
  text-decoration: none;
}
.field-name-body {
  a,
  a:hover {
    text-decoration: underline;
  }
}

// other
blockquote {
  color: tint(black, 15%);
  font-size: 85%;
}

hr {
  border: 0;
  border-bottom: 3px solid black;
  color: black;
  height: 1px;
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}
.more-link,
.more-help-link {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  padding: .5em 0;
  a {
    @include link-colors(black, grey);
    text-decoration: none;
    &:after {
      content: ' ...';
    }
  }
}

// List Styles
.item-list {
  ul,
  ol {
    li {
      margin-bottom: .5em;
    }
  }
}
.field-name-body ul {
  list-style-image: url(../images/bullet.png);
  li {
    margin-bottom: 1.5em;
  }
}

// Image Styles
// --------------------------------------------------------
img {
  @include breakpoint($hand) {
    height: auto;
    max-width: 100%;
  }
}

// Main Content Styles
// --------------------------------------------------------
.submitted {
  color: grey;
  font-size: .9em;
}

.front  {
  .logo {
    padding: 1em 0;
    @include breakpoint($desktop) {
      @include box-sizing(border-box);
      @include span(6.5 of 8 last);
      padding: 3em 1em;
    }
    img {
      @include breakpoint($hand) {
        width: 100%;
      }
      @include breakpoint($gthand) {
        width: 50%;
      }
    }
  }
}

.logo {
  padding-top: 2em;
  img {
    height: auto;
    width: 400px;
  }
}

.page-header {
  @include span(8 of 8 last);
  border-bottom: none;
}

.footer-menu {
  padding-top: 1em;
}

a {
  @include link-colors(black, grey, grey, black);
  &:hover {
    text-decoration: none;
  }
}

.text-center {
  clear: both;
}
.region-content {
  @include breakpoint($desktop) {
    padding-left: 100px;
  }
}


// Screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}