// Footer
// --------------------------------------------------------

footer {
  background-color: $gray-light;
  border-top: 4px solid $black;
  color: $gray;
  font-size: 0.9em;
  .container {
    border-top: 1px solid #FFF;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 10px;
    }
  }
  .footer-links {
    float: left;
  }
  .footer-logos {
    float: right;
  }
  .capl-logo {
    color: $gray-dark;
    font-weight: bold;
  }
  .cca-logo {
    text-align: right;
    margin-top: 10px;
  }
  .site-copyright {
    clear: both;
    text-align: center;
  }
}
