// Footer
// --------------------------------------------------------

footer {
  background-color: $gray-light;
  border-top: 4px solid $black;
  color: $gray;
  font-size: 0.9em;
  .container {
    border-top: 1px solid #FFF;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 10px;
    }
  }
  .footer-links {
    float: left;
    margin-left: 1em;
    padding-right: 1em;
    @include breakpoint($hand) {
      float: none;
      margin: 0;
      padding: 0;
    }
    @include breakpoint($desktop) {
      border-right: 1px solid $blue;
      margin-left: 2.5em;
      padding-right: 2.5em;
    }
    &.first {
      margin-left: 0;
    }
    &.last {
      border: 0;
    }
  }
  .footer-logos {
    clear: both;
    padding-top: 2em;
    @include breakpoint($desktop) {
      clear: none;
      float: right;
      padding-top: 0;
      li {
        text-align: right;
      }
    }
  }
  .capl-logo {
    color: $gray-dark;
    font-weight: bold;
  }
  .cca-logo {
    font-size: 2em;
  }
  .copyright {
    padding-top: 1em;
  }
}
