// Header Styles
// --------------------------------------------------------
// Header


// Main
#block-system-main-menu {
  margin-bottom: .5em;
  @include breakpoint($desktop) {
    float: left;
  }
  h2 {
    display: none;
  }
  .content {
    ul {
      padding: .5em 0 0;
      margin: 0;
      @include breakpoint($hand) {
        text-align: center;
      }
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 0 5px 0 0 ;
      position: relative;
      &:hover > ul {
        display: block;
      }
    }
    a {
      @include link-colors(#453719, black, black, #453719);
      font-size: 17px;
      &:hover {
        border-bottom: 1px solid;
      }
    }
    ul ul {
      @include border-radius(3px);
      @include box-shadow(0 2px 4px lightgrey);
      background: tint(black, 30%);
      border: 1px solid tint(black, 10%);;
      display: none;
      left: 0;
      position: absolute;
      width: 200px;
      @include breakpoint($hand) {
        display: none !important;
      }
      li {
        padding-bottom: .5em;
        a {
          @include link-colors(lightgrey, grey, grey, lightgrey);
          font-size: 14px;
          line-height: 1.2em;
        }
      }
    }
  }
}

// Hide Nav trigger by default
.nav-trigger {
  display: none;
}
