ul.projectList {
	list-style-type: none;
	padding: 0;
	li {
		float: left;
		width: 33.3%;
		line-height: 0;
		overflow: hidden; /* keep text overlay hidden */
		&:hover .textOverlay {
			top: 10%;
		}
	}
	/*
	li.on {
		width: 33%;
		transition: width .5s ease-in;
	}
	*/
	img {
		width: 100%;
		height: auto;
	}
	.imageWrapper {
		position: relative;
	}
	.textOverlay {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.8);
		line-height: 1em;
		transition: top 0.7s;
		padding: 5%;
		top: 65%;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.title {
		font-weight: bold;
		margin-right: 10%;
	}
	.description {
	}
}
