/* homepage logo and tagline */
.front  {
  .navbar.over .logo {
    opacity: 1.0;
  }
  .logo {
    opacity: 0.0;
  }
  .tagline {
    padding: 2em 0 0 4em;
  }
  .tagline,
  .big-logo {
    @extend %clearfix;
    @include breakpoint($gthand) {
      width: 55%;
      padding-left: 15%;
    }
  }

  .tagline {
    color: $gray;
    @include breakpoint($desktop) {
      font-size: 1.4em;
    }
    @include breakpoint($tablet) {
      font-size: 1.2em;
    }
    @include breakpoint($hand) {
      font-size: 0.9em;
      padding: 0 4em 2em 4em;
    }
  }
  .big-logo {
    @include breakpoint($desktop) {
      font-size: 3em;
      line-height: 1.1em;
    }
    @include breakpoint($tablet) {
      font-size: 2.5em;
      line-height: 1.1em;
    }
    @include breakpoint($hand) {
      font-size: 1.3em;
      line-height: 1.1em;
      padding: 2em 3em 1em 2.8em;
    }
  }
}

/* subpage top logo */
.logo {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.8em;
  float: left;
  @include breakpoint($desktop) {
    font-size: 1.7em;
  }
  @include breakpoint($full) {
  }
  @include breakpoint($tablet) {
    font-size: 1.2em;
    line-height: 2.6em;
  }
  @include breakpoint($hand) {
    font-size: $small-font-size;
    line-height: 4em;
  }
  a:hover {
    color: $black;
  }
  img {
    height: auto;
    width: 400px;
  }
}
.plus {
  color: #0db2df;
}
