// Styles for Menus and Navs
// --------------------------------------------------
.navbar-default {
  background: transparent;
  border: none;
  min-height: 0;
}
.navbar-header {
  width: 100%;
  .navbar-toggle {
    background-color: transparent;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 100;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: black;
      height: 3px;
    }
  }
}
.drawer.in + .navbar-default {
  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}

.drawer {
  a {
    @include link-colors(white, grey, grey, white);
  }
  .menu {
    margin-top: 40px;
    a:hover {
      background-color: transparent;
    }
  }
  background: black;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


.footer-menu {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  li {
    list-style: none;
  }
  a {
    color: black;
    font-weight: bold;
  }
}