// Node Styles
// --------------------------------------------------------

.node-teaser {
  h2 {
    font-size: 1.1em;
    margin: .25em 0 0 ;
    a {
      @include link-colors(black, grey, grey, black);
      font-style: normal;
      font-size: 1em;
    }
  }
  a {
    @include link-colors(grey, black, black, grey);
    font-weight: bold;
    font-style: italic;
  }
}

.node-type-program,
.node-type-project {
  h1 {
    border-top: none;
    &.title {
      display: none;
    }
  }
  .region-content {
    padding-left: 0;
  }
}

// Program Page Layout
.node-type-program {
  .field-name-body {
    @include breakpoint($desktop) {
      padding-left: 100px;
    }
  }
}

// Project Teasers
.page-projects .region-content {
  padding-left: 0;
}

.node-program.node-teaser,
.node-project.node-teaser {
  &:hover {
    cursor: pointer;
  }
  @include box-sizing(border-box);
  float: left;
  padding: 0 1%;
  @include breakpoint($desktop) {
    min-height: 285px;
    width: calc(100% / 3);
  }
  @include breakpoint($tablet) {
    min-height: 225px;
    width: calc(100% / 2);
  }
  @include breakpoint($hand) {
    width: 100%;
  }
  img {
    height: auto;
    width: 100%;
  }
}

// Project Body
.group-right {
  @include breakpoint($desktop) {
    padding-left: 100px;
  }
}

// Project Details
.group-left {
  padding-top: 1em;
  h2.js-trigger {
    &:hover {
      color: $active-color;
      &:after {
        color: $active-color;
      }
    }
    &:after {
      content: ' +';
      color: grey
    }
    &.expanded:after {
      content: ' -';
    }
    @include breakpoint($gthand) {
      display: none;
    }
  }
  .field {
    margin-bottom: .75em;
    @include breakpoint($hand) {
      display: none;
    }
    @include breakpoint($gthand) {
      display: block;
    }
    .field-items {
      color: grey;
      font-size: .9em;
      a {
        @include link-colors(grey, black, black, grey);
        text-decoration: underline;
      }
    }
  }
}

// Responsive YouTube Embed
.media-youtube-video {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Program
.field-name-field-program-image {
  img{
    height: auto;
    width: 100%;
  }
}