// Node Styles
// --------------------------------------------------------

.node-teaser {
  h2 {
    margin: .25em 0 0 ;
    a {
      @include link-colors(black, grey, grey, black);
      font-style: normal;
    }
  }
  a {
    @include link-colors(grey, black, black, grey);
    font-weight: bold;
    font-style: italic;
  }
}

.node-type-program,
.node-type-project {
  h1 {
    &.title {
      display: none;
    }
  }
}

// Project Teaser
.node-project.node-teaser {
  @include box-sizing(border-box);
  float: right;
  padding: .75em 0 .75em 3%;
  @include breakpoint($desktop) {
    min-height: 350px;
    width: calc(100% / 3);
  }
  @include breakpoint($tablet) {
    min-height: 350px;
    width: calc(100% / 2);
  }
  img {
    height: auto;
    width: 100%;
  }
}