// Node Styles
// --------------------------------------------------------

.node-teaser {
  h4 {
    margin: .25em 0 0 ;
    a {
      @include link-colors($black, $blue, $blue, $black);
    }
  }
  a {
    @include link-colors($gray, $black, $black, $gray);
  }
}

// Set max width for content
.node-program .field-name-body,
.node-blog {
  max-width: 750px;
}

.node-type-program,
.node-type-project {
  h1 {
    border-top: none;
    &.title {
      display: none;
    }
  }
  .region-content {
    padding-left: 0;
  }
}

// Program Page Layout
.node-type-program {
  .field-name-body {
    @include breakpoint($desktop) {
      width: 80%;
      padding-left: 100px;
    }
  }
  .view-projects { // related projects block
    @include breakpoint($desktop) {
      width: 90%;
    }
    &:before {
      content: 'Program Case Studies';
      margin-bottom: 0.3em;
    }
    .node-teaser {
      padding-left: 0;
    }
  }
}

// Project Teasers
.page-projects .region-content {
  padding-left: 0;
}

.node-program.node-teaser,
.node-project.node-teaser {
  &:hover {
    cursor: pointer;
  }
  @include box-sizing(border-box);
  float: left;
  padding: 0 1%;
  @include breakpoint($desktop) {
    min-height: 275px;
    width: calc(100% / 3);
  }
  @include breakpoint($tablet) {
    min-height: 275px;
    width: calc(100% / 2);
  }
  @include breakpoint($hand) {
    width: 100%;
  }
  img {
    @include breakpoint($hand) {
      padding-top: 35px;
    }
    height: auto;
    width: 100%;
  }
}

// Project Body
.group-right {
  @include breakpoint($desktop) {
    padding-left: 100px;
  }
}

// Project Details
.group-left {
  padding-top: 1em;
  h2.js-trigger {
    &:hover {
      color: $active-color;
      &:after {
        color: $active-color;
      }
    }
    &:after {
      content: ' +';
      color: grey
    }
    &.expanded:after {
      content: ' -';
    }
    @include breakpoint($gthand) {
      display: none;
    }
  }
  .field .field-label,
  h4 {
    color: $black;
    font-size: 20px;
    font-weight: normal;
    line-height: 29px;
    margin: 0;
  }
  .field {
    margin-bottom: .75em;
    @include breakpoint($hand) {
      display: none;
    }
    @include breakpoint($gthand) {
      display: block;
    }
    .field-items {
      color: $black;
      font-weight: 300;
      a {
        @include link-colors($gray, $blue, $blue, $gray);
      }
    }
  }
}

// Responsive YouTube Embed
.media-youtube-video {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Program
.field-name-field-program-image {
  img{
    height: auto;
    width: 100%;
  }
}