// Sidebar
// --------------------------------------------------------

// Exposed filters
html.js fieldset.collapsible .fieldset-legend {
  background: none;
  padding-left: 0;
  white-space: nowrap;
}
.region-sidebar-first {
  h2 {
    cursor: pointer;
    &:after {
      content: ' +';
    }
    &.expanded:after {
      content: ' -';
    }
    &:hover {
      color: $active-color;
      &:after {
        color: $active-color;
      }
    }
    @include breakpoint($hand) {
      display: block;
    }
    @include breakpoint($gthand) {
      display: none;
    }
  }
  & > .block > .content {
    @include breakpoint($hand) {
      display: none;
    }
  }
  .views-exposed-widget {
    width: 100%;
  }
  input { /* don't show checkboxes */
    display: none;
  }
  fieldset {
    border: none;
    margin-bottom: 0;
    legend {
      border: none;
      font-size: 1.3em;
      padding: 0;
    }
    .fieldset-title:after {
      content: ' -';
    }
    &.collapsed .fieldset-title:after {
      content: ' +';
    }
  }
  .fieldset-wrapper {
    .bef-toggle {
      color: $gray;
      font-size: $small-font-size;
      @include link-colors($gray, $black, $black, $gray);
    }
    label {
      cursor: pointer;
      font-weight: normal;
      @include link-colors($gray, $active-color, $active-color, $gray);
    }
    .highlight label {
      color: $active-color;
    }
  }
  .views-submit-button {
    display: none;
  }
}
