// Sidebar
// --------------------------------------------------------

// Exposed filters
html.js fieldset.collapsible .fieldset-legend {
  background: none;
  padding-left: 0;
  white-space: nowrap;
}
.region-sidebar-first {
  h2 {
    @include breakpoint($hand) {
      display: block;
    }
    @include breakpoint($gthand) {
      display: none;
    }
  }
  .views-exposed-widgets {
    @include breakpoint($hand) {
      display: none;
    }
  }
  .views-exposed-widget {
    width: 100%;
  }
  fieldset {
    border: none;
    legend {
      border: none;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0;
    }
    .fieldset-title:after {
      content: ' -';
    }
    &.collapsed .fieldset-title:after {
      content: ' +';
    }
  }
  .fieldset-wrapper {
    color: grey;
    .bef-toggle {
      @include link-colors(grey, $active-color, $active-color, grey);
      color: grey;
      font-size: .8em;
    }
    label {
      @include link-colors(grey, $active-color, $active-color, grey);
    }
  }
  .views-submit-button {
    display: none;
  }
}
