// Slideshow
// --------------------------------------------------------

// Project Slideshow
.field-name-field-slideshow {

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-slide:focus {
    outline: 0;
  }

  .slick-slide {
    margin: 0 20px;
  }

  .slick-dots {
    bottom: -36px;
  }
}

/* apply arrow nav icons and prev/next image filter for desktop only */
.no-touch .field-name-field-slideshow {
  @include breakpoint($gthand) {
    /* add gray background */
    background-color: $gray-light;
    padding: 20px 0;
    
    /* apply filter to prev/next images */
    img {
      @include filter(brightness(0.3) grayscale(0.2));
    }
    .slick-current img {
      @include filter(unset);
    }

    /* Arrows */
    .slick-prev,
    .slick-next
    {
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }
    .slick-prev {
      z-index: 1;
    }

    .slick-prev:before,
    .slick-next:before
    {
        font-size: 50px;
        color: $blue;
        opacity: 1;
    }

    .slick-prev:before
    {
        content: url('../images/left-arrow.png');
    }
    [dir='rtl'] .slick-prev:before
    {
        content: url('../images/right-arrow.png');
    }

    .slick-prev
    {
        left: 10px;
    }
    [dir='rtl'] .slick-prev
    {
        right: 10px;
    }

    .slick-next:before
    {
        content: url('../images/right-arrow.png');
    }
    [dir='rtl'] .slick-next:before
    {
        content: url('../images/left-arrow.png');
    }
    .slick-next
    {
        right: 10px;
    }
    [dir='rtl'] .slick-next
    {
        left: 10px;
    }

  }
}