// Slideshow
// --------------------------------------------------------

// Project Slideshow
.field-name-field-slideshow {
  background-color: $gray-light;
  padding: 20px 0;

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-slide:focus {
    outline: 0;
  }

  .slick-slide {
    margin: 0 20px;
  }

  /* Arrows */
  .slick-prev,
  .slick-next
  {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      z-index: 999;
  }

  .slick-prev:before,
  .slick-next:before
  {
      font-size: 50px;
      color: $blue;
      opacity: 1;
  }

  .slick-prev
{
    left: 10px;
}
[dir='rtl'] .slick-prev
{
    right: 10px;
}

.slick-next
{
    right: 10px;
}
[dir='rtl'] .slick-next
{
    left: 10px;
}

  .slick-center {
  }
  .slick-fade-image {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
}
