// Views
// --------------------------------------------------------

/* projects */
.view-projects .view-content{
  > div {
    float: left;
    line-height: 0;
    margin: 2% 0;
    overflow: hidden; /* keep text overlay hidden */
    position: relative;
    width: 100%;
    @include breakpoint($mid) {
      margin: 2%;
      width: 46%;
    }
    @include breakpoint($full) {
      margin: 1%;
      width: 31.3%;
    }
    &:hover {
      .views-field-title {
        top: 10%;
      }
      .description {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  a,
  a:hover {
    color: white;
  }
  img {
    height: auto;
    width: 100%;
  }
  .views-field-title {
    background-color: rgba(63, 72, 76, 0.8); /* convert dark-gray hex #3F484C to rgb */
    height: 100%;
    left: 0;
    line-height: 1em;
    padding: 5%;
    position: absolute;
    top: 70%;
    transition: top 0.5s;
    transition-delay: 0.25s;
    width: 90%;
  }
  .title {
    font-weight: bold;
    margin-right: 10%;
  }
  .description {
    border-top: 1px solid $blue;
    color: white;
    font-size: $small-font-size;
    margin-top: 0.5em;
    opacity: 0;
    padding-top: 0.5em;
    transition: visibility 1.0s, opacity 1.0s;
    visibility: hidden;
  }
}

/* partners */
.view-partners {
  .views-row {
    float: left;
    padding: 2%;
  }
  .views-field-field-partner-logo {
    border-width: 1px;
    border-style: solid;
    border-color: lighten($black, 40%);
    height: 125px;
    line-height: 125px;
    overflow: hidden;
    padding: 1%;
    width: 125px;
    text-align: center;

    img {
      vertical-align: middle;
      max-height: 100px;
      @include opacity(0.6);
      padding: 0;
      max-width: 100%;
    }
    &:hover {
      border-color: $black;
      img {
        @include opacity(1.0);
      }
    }
  }
}

/* programs */
.view-programs {
  .field-name-body {
    height: 150px;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .field-name-field-program-logo {
    border: 1px solid $black;
    height: 150px;
    line-height: 150px;
    margin-top: 30px;
    overflow: hidden;
    padding: 25px;
    text-align: center;
    img {
      max-height: 130px;
      max-width: 100%;
      padding: 0;
      vertical-align: middle;
    }
  }
}
