// Breakpoints
// --------------------------------------------------------

// Breakpoint settings
// Documentation: http://breakpoint-sass.com/
$hand : 0 480px;
$tablet : 481px 800px;
$desktop: 801px;
$small: 481px 1200px;
$gthand: 481px;
$full: 1080px;
$mid: 700px;
