//
// CSS Helpers
// --------------------------------------------------

img.logo {
  height: auto;
  width: 300px;
  padding-bottom: 1em;
}

.page-header {
  border-bottom: none;
  h1 {
    margin-bottom: 1em;
  }
}

.footer-menu {
  padding-top: 1em;
}
