// --------------------------------------------------------
// SILENT SELECTORS
// --------------------------------------------------------

%base-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

%button {
  background: grey;
}

%clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

