// Typography
// --------------------------------------------------

h1 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-size: 2em;
  padding: 4px 0;
}

h2 {
  font-size: 1.5em;
}

a {
  @include link-colors(black, grey, grey, black);
  &:hover {
    text-decoration: none;
  }
}


.text-center {
  clear: both;
}