/* line 3, ../src/sass/_base.scss */
.logo img {
  height: auto;
  width: 400px;
}

/* line 9, ../src/sass/_base.scss */
h1 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  font-size: 2em;
  padding: 4px 0;
}

/* line 1, ../src/sass/_drawer.scss */
.drawer {
  background: black;
  display: none;
}

/* line 1, ../src/sass/_footer.scss */
.footer {
  border-top: 4px solid black;
}

/* line 5, ../src/sass/_footer.scss */
.footer-menu li {
  list-style: none;
}
/* line 8, ../src/sass/_footer.scss */
.footer-menu a {
  color: black;
  font-weight: bold;
}
