/* line 5, ../sass/global/_silents.scss */
body, h1, h2, h3, h4, h5, h6, .drawer > ul > li a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* line 11, ../sass/global/_silents.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"], #user-login-form a {
  background: grey;
}

/* line 41, ../sass/global/_layout.scss */
.container {
  padding: 1em;
}

/* line 44, ../sass/global/_layout.scss */
.container,
.group-left,
.group-right,
.sidebar-first,
.sidebar-second,
#block-block-1,
#block-menu-menu-footer-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 59, ../sass/global/_layout.scss */
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 63, ../sass/global/_layout.scss */
  .container .group-left {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 66, ../sass/global/_layout.scss */
  .container .group-right {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 71, ../sass/global/_layout.scss */
  #block-block-1,
  #block-menu-menu-footer-menu {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  /* line 82, ../sass/global/_layout.scss */
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 85, ../sass/global/_layout.scss */
  .no-sidebars .main-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 89, ../sass/global/_layout.scss */
  .no-sidebars .main-content .group-left {
    width: 31.03448%;
    float: left;
    margin-left: 68.96552%;
    margin-right: -100%;
  }
  /* line 92, ../sass/global/_layout.scss */
  .no-sidebars .main-content .group-right {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 98, ../sass/global/_layout.scss */
  .sidebar-first .sidebar-first {
    width: 22.41379%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 101, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-first .main-content {
    width: 74.13793%;
    float: right;
    margin-right: 0;
  }

  /* line 106, ../sass/global/_layout.scss */
  .sidebar-second .sidebar-second {
    width: 13.7931%;
    float: right;
    margin-right: 0;
  }

  /* line 109, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-second .main-content {
    width: 82.75862%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 114, ../sass/global/_layout.scss */
  .two-sidebars .sidebar-first {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 117, ../sass/global/_layout.scss */
  .two-sidebars .main-content {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 120, ../sass/global/_layout.scss */
  .two-sidebars .sidebar-second {
    width: 21.05263%;
    float: right;
    margin-right: 0;
  }

  /* line 125, ../sass/global/_layout.scss */
  #block-block-1 {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 128, ../sass/global/_layout.scss */
  #block-menu-menu-footer-menu {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 801px) {
  /* line 138, ../sass/global/_layout.scss */
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 141, ../sass/global/_layout.scss */
  .no-sidebars .main-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 145, ../sass/global/_layout.scss */
  .no-sidebars .main-content .group-left {
    width: 31.03448%;
    float: left;
    margin-left: 68.96552%;
    margin-right: -100%;
  }
  /* line 148, ../sass/global/_layout.scss */
  .no-sidebars .main-content .group-right {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 154, ../sass/global/_layout.scss */
  .sidebar-first .sidebar-first {
    width: 16.66667%;
    float: left;
    margin-right: 2.5641%;
  }

  /* line 157, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-first .main-content {
    width: 80.76923%;
    float: right;
    margin-right: 0;
  }

  /* line 162, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-second .sidebar-second {
    width: 31.03448%;
    float: right;
    margin-right: 0;
  }

  /* line 165, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-second .main-content {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 170, ../sass/global/_layout.scss */
  .two-sidebars .main-content {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 173, ../sass/global/_layout.scss */
  .two-sidebars .sidebar-first {
    width: 13.7931%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 176, ../sass/global/_layout.scss */
  .two-sidebars .sidebar-second {
    width: 13.7931%;
    float: right;
    margin-right: 0;
  }

  /* line 181, ../sass/global/_layout.scss */
  #block-block-1 {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }

  /* line 184, ../sass/global/_layout.scss */
  #block-menu-menu-footer-menu {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
}
/* line 4, ../sass/partials/_base.scss */
body {
  color: #3F484C;
  margin: 0;
}

/* line 10, ../sass/partials/_base.scss */
p {
  font-weight: 300;
}

/* line 14, ../sass/partials/_base.scss */
h2 + p {
  margin-top: 0;
}

/* line 18, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

/* line 23, ../sass/partials/_base.scss */
h1 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  padding: 4px 0;
}

/* line 32, ../sass/partials/_base.scss */
h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 37, ../sass/partials/_base.scss */
h3 {
  font-size: 22px;
}

/* line 40, ../sass/partials/_base.scss */
h4 {
  font-size: 16px;
}

/* line 43, ../sass/partials/_base.scss */
h5 {
  font-size: 14px;
}

/* line 46, ../sass/partials/_base.scss */
h6 {
  font-size: 12px;
}

/* line 51, ../sass/partials/_base.scss */
li a,
a {
  transition: color 0.2s;
  text-decoration: none;
}
/* line 2, ../sass/global/_mixins.scss */
li a, li a:link,
a,
a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
li a:visited, li a:link:visited,
a:visited,
a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
li a.active:hover, li a.active-trail:hover, li a:hover,
a.active:hover,
a.active-trail:hover,
a:hover {
  color: grey;
}
/* line 25, ../sass/global/_mixins.scss */
li a.active, li a:active, li a.active-trail,
a.active,
a:active,
a.active-trail {
  color: grey;
}

/* line 63, ../sass/partials/_base.scss */
.field-name-body a,
.field-name-body a:hover {
  text-decoration: underline;
}

/* line 70, ../sass/partials/_base.scss */
blockquote {
  color: #262626;
  font-size: 85%;
}

/* line 75, ../sass/partials/_base.scss */
hr {
  border: 0;
  border-bottom: 3px solid black;
  color: black;
  height: 1px;
}

/* line 82, ../sass/partials/_base.scss */
.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

/* line 91, ../sass/partials/_base.scss */
.more-link,
.more-help-link {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  padding: .5em 0;
}
/* line 97, ../sass/partials/_base.scss */
.more-link a,
.more-help-link a {
  text-decoration: none;
}
/* line 2, ../sass/global/_mixins.scss */
.more-link a, .more-link a:link,
.more-help-link a,
.more-help-link a:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.more-link a.active:hover, .more-link a.active-trail:hover, .more-link a:hover,
.more-help-link a.active:hover,
.more-help-link a.active-trail:hover,
.more-help-link a:hover {
  color: grey;
}
/* line 100, ../sass/partials/_base.scss */
.more-link a:after,
.more-help-link a:after {
  content: ' ...';
}

/* line 110, ../sass/partials/_base.scss */
.item-list ul li,
.item-list ol li {
  margin-bottom: .5em;
}

/* line 115, ../sass/partials/_base.scss */
.field-name-body ul {
  list-style-image: url(../images/bullet.png);
  padding-left: 20px;
  padding-top: .5em;
}
/* line 119, ../sass/partials/_base.scss */
.field-name-body ul li {
  margin-bottom: 1.5em;
  padding-left: 10px;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 127, ../sass/partials/_base.scss */
  img {
    height: auto;
    max-width: 100%;
  }
}

/* line 134, ../sass/partials/_base.scss */
a.pdf {
  background: url(/modules/file/icons/application-pdf.png) no-repeat 0 3px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 5px;
}

/* line 143, ../sass/partials/_base.scss */
.submitted {
  color: grey;
  font-size: .9em;
}

/* line 149, ../sass/partials/_base.scss */
.front .logo {
  padding: 1em 0;
}
@media (min-width: 801px) {
  /* line 149, ../sass/partials/_base.scss */
  .front .logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80.76923%;
    float: right;
    margin-right: 0;
    padding: 3em 1em;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 156, ../sass/partials/_base.scss */
  .front .logo img {
    width: 100%;
  }
}
@media (min-width: 481px) {
  /* line 156, ../sass/partials/_base.scss */
  .front .logo img {
    width: 50%;
  }
}

/* line 167, ../sass/partials/_base.scss */
.logo {
  font-weight: bold;
  padding-bottom: 2em;
  font-size: 1.2em;
  margin-top: -18px;
}
@media (min-width: 801px) {
  /* line 167, ../sass/partials/_base.scss */
  .logo {
    font-size: 1.7em;
    margin-top: -22px;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  /* line 167, ../sass/partials/_base.scss */
  .logo {
    font-size: 1.5em;
    margin-top: -20px;
  }
}
/* line 180, ../sass/partials/_base.scss */
.logo a:hover {
  color: black;
}
/* line 183, ../sass/partials/_base.scss */
.logo img {
  height: auto;
  width: 400px;
}
/* line 187, ../sass/partials/_base.scss */
.logo .plus {
  color: #0db2df;
}

/* line 192, ../sass/partials/_base.scss */
.page-header {
  width: 100%;
  float: right;
  margin-right: 0;
  border-bottom: none;
}

/* line 2, ../sass/global/_mixins.scss */
a, a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
a:visited, a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
a.active:hover, a.active-trail:hover, a:hover {
  color: grey;
}
/* line 25, ../sass/global/_mixins.scss */
a.active, a:active, a.active-trail {
  color: grey;
}
/* line 199, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 204, ../sass/partials/_base.scss */
.text-center {
  clear: both;
}

@media (min-width: 801px) {
  /* line 207, ../sass/partials/_base.scss */
  .region-content {
    padding-left: 100px;
  }
}

/* line 215, ../sass/partials/_base.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 801px) {
  /* line 2, ../sass/partials/_blocks.scss */
  #block-views-projects-block-1 {
    padding-left: 100px;
  }
}

/* line 9, ../sass/partials/_blocks.scss */
#block-block-2 {
  clear: both;
}

/* line 14, ../sass/partials/_blocks.scss */
#block-block-3 {
  margin-bottom: 2em;
}
@media (min-width: 801px) {
  /* line 14, ../sass/partials/_blocks.scss */
  #block-block-3 {
    padding-left: 100px;
  }
}
/* line 19, ../sass/partials/_blocks.scss */
#block-block-3 a {
  text-decoration: underline;
}

/* line 25, ../sass/partials/_blocks.scss */
.block-views-our-programs {
  clear: both;
}

@media (min-width: 481px) {
  /* line 4, ../sass/partials/_footer.scss */
  .front .footer {
    background: white;
    width: 100%;
  }
}

/* line 11, ../sass/partials/_footer.scss */
.footer .container {
  border-top: 4px solid black;
}

/* line 16, ../sass/partials/_footer.scss */
#block-menu-menu-footer-menu {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-top: 1em;
}
/* line 21, ../sass/partials/_footer.scss */
#block-menu-menu-footer-menu ul {
  margin-top: 0;
  padding: 0;
}
/* line 24, ../sass/partials/_footer.scss */
#block-menu-menu-footer-menu ul li.leaf {
  list-style: none;
}
/* line 28, ../sass/partials/_footer.scss */
#block-menu-menu-footer-menu a {
  color: black;
  font-weight: bold;
}

/* line 6, ../sass/partials/_forms.scss */
input {
  vertical-align: middle;
}

/* line 9, ../sass/partials/_forms.scss */
select {
  background: #f2f2f2;
  border: 1px solid #a5a5a5;
  height: 36px;
}

/* line 15, ../sass/partials/_forms.scss */
label {
  display: block;
  font-weight: normal;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 15, ../sass/partials/_forms.scss */
  label {
    display: block;
  }
}

/* line 24, ../sass/partials/_forms.scss */
.description {
  color: #999999;
  margin-top: .25em;
}

/* line 30, ../sass/partials/_forms.scss */
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #a5a5a5;
  background: #f2f2f2;
  font-size: 13px;
  padding: 8px 5px;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 30, ../sass/partials/_forms.scss */
  input[type="text"],
  input[type="password"],
  textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}

/* line 43, ../sass/partials/_forms.scss */
.form-required {
  color: inherit;
}

/* line 48, ../sass/partials/_forms.scss */
html.js input.form-autocomplete {
  background-position: 100% 5px;
}
/* line 51, ../sass/partials/_forms.scss */
html.js input.throbbing {
  background-position: 100% -16px;
}

/* line 62, ../sass/partials/_forms.scss */
button#edit-managed-file-upload-button,
input[type="button"]#edit-managed-file-upload-button,
input[type="reset"]#edit-managed-file-upload-button,
input[type="submit"]#edit-managed-file-upload-button {
  margin-top: .25em;
}

/* line 67, ../sass/partials/_forms.scss */
.form-actions #edit-preview,
.form-actions #edit-delete {
  background-color: grey;
}
/* line 70, ../sass/partials/_forms.scss */
.form-actions #edit-preview:hover,
.form-actions #edit-delete:hover {
  background-color: black;
}

/* line 77, ../sass/partials/_forms.scss */
fieldset {
  background: white;
  border: 2px solid #e5e5e5;
  margin: .5em 0 1em;
}
/* line 81, ../sass/partials/_forms.scss */
fieldset legend {
  background: white;
  border: 2px solid #e5e5e5;
  padding: .2em .5em;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 87, ../sass/partials/_forms.scss */
  .confirm-parent,
  .password-parent {
    width: auto;
  }
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 93, ../sass/partials/_forms.scss */
  .password-strength,
  div.password-confirm {
    color: grey;
    font-size: 11px;
    margin-top: 0;
    width: auto;
    float: none;
  }
}

/* line 104, ../sass/partials/_forms.scss */
#edit-cancel {
  font-size: 11px;
  letter-spacing: 1px;
  padding-left: .5em;
  text-transform: uppercase;
}
/* line 2, ../sass/global/_mixins.scss */
#edit-cancel, #edit-cancel:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
#edit-cancel.active:hover, #edit-cancel.active-trail:hover, #edit-cancel:hover {
  color: black;
}

@media (min-width: 0) and (max-width: 480px) {
  /* line 112, ../sass/partials/_forms.scss */
  #edit-managed-file-upload {
    margin-right: .5em;
    width: 50%;
  }
}

/* line 119, ../sass/partials/_forms.scss */
.filter-wrapper {
  background-color: #b2b2b2;
  color: #595959;
  border: 2px solid #737373;
  font-size: 12px;
  padding: .5em 0 1em;
}

/* line 128, ../sass/partials/_forms.scss */
.node-form {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #797979;
  padding: 1em;
}
/* line 2, ../sass/global/_mixins.scss */
.node-form a, .node-form a:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.node-form a.active:hover, .node-form a.active-trail:hover, .node-form a:hover {
  color: black;
}
/* line 135, ../sass/partials/_forms.scss */
.node-form input[type="text"],
.node-form input[type="password"],
.node-form textarea {
  background: white;
}

/* line 143, ../sass/partials/_forms.scss */
.vertical-tabs {
  background: white;
}
/* line 147, ../sass/partials/_forms.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a {
  font-size: 85%;
}
/* line 2, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a, .vertical-tabs .vertical-tabs-list .vertical-tab-button a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a:visited, .vertical-tabs .vertical-tabs-list .vertical-tab-button a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a.active:hover, .vertical-tabs .vertical-tabs-list .vertical-tab-button a.active-trail:hover, .vertical-tabs .vertical-tabs-list .vertical-tab-button a:hover {
  color: black;
}
/* line 25, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a.active, .vertical-tabs .vertical-tabs-list .vertical-tab-button a:active, .vertical-tabs .vertical-tabs-list .vertical-tab-button a.active-trail {
  color: black;
}
/* line 150, ../sass/partials/_forms.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a strong {
  font-size: 110%;
}
/* line 154, ../sass/partials/_forms.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-button a:hover strong {
  text-decoration: none;
}
/* line 2, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tab-button.selected a, .vertical-tabs .vertical-tab-button.selected a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tab-button.selected a:visited, .vertical-tabs .vertical-tab-button.selected a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tab-button.selected a.active:hover, .vertical-tabs .vertical-tab-button.selected a.active-trail:hover, .vertical-tabs .vertical-tab-button.selected a:hover {
  color: black;
}
/* line 25, ../sass/global/_mixins.scss */
.vertical-tabs .vertical-tab-button.selected a.active, .vertical-tabs .vertical-tab-button.selected a:active, .vertical-tabs .vertical-tab-button.selected a.active-trail {
  color: black;
}
/* line 162, ../sass/partials/_forms.scss */
.vertical-tabs .vertical-tab-button.selected a strong {
  color: black;
}
/* line 165, ../sass/partials/_forms.scss */
.vertical-tabs .vertical-tab-button.selected a:hover strong {
  color: black;
  text-decoration: none;
}
/* line 173, ../sass/partials/_forms.scss */
.vertical-tabs input[type="text"],
.vertical-tabs input[type="password"],
.vertical-tabs textarea {
  background-color: #b2b2b2;
}

@media (min-width: 801px) {
  /* line 181, ../sass/partials/_forms.scss */
  .block-search {
    float: right;
  }
}
/* line 185, ../sass/partials/_forms.scss */
.block-search input[type="text"] {
  width: 60%;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 185, ../sass/partials/_forms.scss */
  .block-search input[type="text"] {
    width: 80%;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  /* line 185, ../sass/partials/_forms.scss */
  .block-search input[type="text"] {
    width: 75%;
  }
}
@media (min-width: 801px) {
  /* line 185, ../sass/partials/_forms.scss */
  .block-search input[type="text"] {
    width: auto;
  }
}

/* line 201, ../sass/partials/_forms.scss */
#user-login-form li {
  list-style: none;
  margin-left: 0;
}
/* line 205, ../sass/partials/_forms.scss */
#user-login-form a {
  background: #cccccc;
  border: 1px solid #727272;
  display: inline-block;
  text-align: center;
}
/* line 2, ../sass/global/_mixins.scss */
#user-login-form a, #user-login-form a:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
#user-login-form a.active:hover, #user-login-form a.active-trail:hover, #user-login-form a:hover {
  color: black;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 205, ../sass/partials/_forms.scss */
  #user-login-form a {
    display: block;
  }
}
/* line 215, ../sass/partials/_forms.scss */
#user-login-form a:hover {
  background: #cccccc;
  border: 1px solid #727272;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 220, ../sass/partials/_forms.scss */
  #user-login-form input[type="submit"] {
    width: 100%;
  }
}

/* line 2, ../sass/partials/_menu.scss */
.nav-wrapper {
  position: relative;
}

/* line 7, ../sass/partials/_menu.scss */
.nav-trigger {
  display: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* line 12, ../sass/partials/_menu.scss */
label[for="nav-trigger"] {
  position: absolute;
  right: 13px;
  top: 30px;
  z-index: 40;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
/* line 20, ../sass/partials/_menu.scss */
label[for="nav-trigger"]:hover .icon-bar {
  background-color: grey;
}
/* line 23, ../sass/partials/_menu.scss */
label[for="nav-trigger"] .icon-bar {
  background-color: black;
  display: block;
  margin-bottom: 4px;
  height: 4px;
  width: 27px;
}

/* line 33, ../sass/partials/_menu.scss */
.nav-trigger:checked ~ .drawer {
  right: 0;
  opacity: 1;
}
/* line 36, ../sass/partials/_menu.scss */
.nav-trigger:checked ~ .drawer li {
  opacity: 1;
  left: 0px;
}

/* line 41, ../sass/partials/_menu.scss */
.nav-trigger:checked ~ label {
  position: fixed;
}
/* line 43, ../sass/partials/_menu.scss */
.nav-trigger:checked ~ label .icon-bar {
  background-color: grey;
}

/* line 50, ../sass/partials/_menu.scss */
.drawer {
  -moz-transition-property: right, opacity;
  -o-transition-property: right, opacity;
  -webkit-transition-property: right, opacity;
  transition-property: right opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: #3F484C;
  border-bottom: none;
  bottom: 0;
  height: 100%;
  opacity: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  right: -220px;
  top: 0;
  width: 220px;
  z-index: 20;
}
/* line 69, ../sass/partials/_menu.scss */
.drawer ul {
  padding-left: 0;
}
/* line 72, ../sass/partials/_menu.scss */
.drawer > ul > li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -webkit-transition-property: left, opacity;
  transition-property: left opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin-left: 0;
  opacity: 0;
  position: relative;
  right: -220px;
  list-style: none;
  width: 220px;
}
/* line 83, ../sass/partials/_menu.scss */
.drawer > ul > li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 1.1em;
  padding: .5em 1em;
}
/* line 2, ../sass/global/_mixins.scss */
.drawer > ul > li a, .drawer > ul > li a:link {
  color: #bcbdbe;
}
/* line 7, ../sass/global/_mixins.scss */
.drawer > ul > li a:visited, .drawer > ul > li a:link:visited {
  color: #bcbdbe;
}
/* line 18, ../sass/global/_mixins.scss */
.drawer > ul > li a.active:hover, .drawer > ul > li a.active-trail:hover, .drawer > ul > li a:hover {
  color: #0db2df;
}
/* line 25, ../sass/global/_mixins.scss */
.drawer > ul > li a.active, .drawer > ul > li a:active, .drawer > ul > li a.active-trail {
  color: #bcbdbe;
}
/* line 91, ../sass/partials/_menu.scss */
.drawer > ul > li li {
  list-style: none;
  margin: 0;
  padding: 0 .5em;
}
/* line 95, ../sass/partials/_menu.scss */
.drawer > ul > li li a {
  font-size: 1em;
  padding: .5em 1.5em;
}
/* line 2, ../sass/global/_mixins.scss */
.drawer > ul > li li a, .drawer > ul > li li a:link {
  color: #838485;
}
/* line 7, ../sass/global/_mixins.scss */
.drawer > ul > li li a:visited, .drawer > ul > li li a:link:visited {
  color: #838485;
}
/* line 18, ../sass/global/_mixins.scss */
.drawer > ul > li li a.active:hover, .drawer > ul > li li a.active-trail:hover, .drawer > ul > li li a:hover {
  color: white;
}
/* line 25, ../sass/global/_mixins.scss */
.drawer > ul > li li a.active, .drawer > ul > li li a:active, .drawer > ul > li li a.active-trail {
  color: gray;
}

/* line 104, ../sass/partials/_menu.scss */
.navbar-default {
  background: transparent;
  border: none;
  min-height: 0;
}

/* line 109, ../sass/partials/_menu.scss */
.navbar-header {
  width: 100%;
}
/* line 111, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle {
  background-color: transparent;
  border: none;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 100;
}
/* line 118, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {
  background-color: transparent;
}
/* line 122, ../sass/partials/_menu.scss */
.navbar-header .navbar-toggle .icon-bar {
  background-color: black;
  height: 3px;
}

/* line 5, ../sass/partials/_node.scss */
.node-teaser h2 {
  font-size: 1.1em;
  margin: 0.25em 0 0;
}
/* line 8, ../sass/partials/_node.scss */
.node-teaser h2 a {
  font-style: normal;
  font-size: 1em;
}
/* line 2, ../sass/global/_mixins.scss */
.node-teaser h2 a, .node-teaser h2 a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
.node-teaser h2 a:visited, .node-teaser h2 a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.node-teaser h2 a.active:hover, .node-teaser h2 a.active-trail:hover, .node-teaser h2 a:hover {
  color: grey;
}
/* line 25, ../sass/global/_mixins.scss */
.node-teaser h2 a.active, .node-teaser h2 a:active, .node-teaser h2 a.active-trail {
  color: grey;
}
/* line 14, ../sass/partials/_node.scss */
.node-teaser a {
  font-weight: bold;
  font-style: italic;
}
/* line 2, ../sass/global/_mixins.scss */
.node-teaser a, .node-teaser a:link {
  color: grey;
}
/* line 7, ../sass/global/_mixins.scss */
.node-teaser a:visited, .node-teaser a:link:visited {
  color: grey;
}
/* line 18, ../sass/global/_mixins.scss */
.node-teaser a.active:hover, .node-teaser a.active-trail:hover, .node-teaser a:hover {
  color: black;
}
/* line 25, ../sass/global/_mixins.scss */
.node-teaser a.active, .node-teaser a:active, .node-teaser a.active-trail {
  color: black;
}

/* line 23, ../sass/partials/_node.scss */
.node-type-program h1,
.node-type-project h1 {
  border-top: none;
}
/* line 25, ../sass/partials/_node.scss */
.node-type-program h1.title,
.node-type-project h1.title {
  display: none;
}
/* line 29, ../sass/partials/_node.scss */
.node-type-program .region-content,
.node-type-project .region-content {
  padding-left: 0;
}

@media (min-width: 801px) {
  /* line 36, ../sass/partials/_node.scss */
  .node-type-program .field-name-body {
    padding-left: 100px;
  }
}

/* line 44, ../sass/partials/_node.scss */
.page-projects .region-content {
  padding-left: 0;
}

/* line 48, ../sass/partials/_node.scss */
.node-program.node-teaser,
.node-project.node-teaser {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 1%;
}
/* line 50, ../sass/partials/_node.scss */
.node-program.node-teaser:hover,
.node-project.node-teaser:hover {
  cursor: pointer;
}
@media (min-width: 801px) {
  /* line 48, ../sass/partials/_node.scss */
  .node-program.node-teaser,
  .node-project.node-teaser {
    min-height: 285px;
    width: calc(100% / 3);
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  /* line 48, ../sass/partials/_node.scss */
  .node-program.node-teaser,
  .node-project.node-teaser {
    min-height: 225px;
    width: calc(100% / 2);
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 48, ../sass/partials/_node.scss */
  .node-program.node-teaser,
  .node-project.node-teaser {
    width: 100%;
  }
}
/* line 67, ../sass/partials/_node.scss */
.node-program.node-teaser img,
.node-project.node-teaser img {
  height: auto;
  width: 100%;
}

@media (min-width: 801px) {
  /* line 74, ../sass/partials/_node.scss */
  .group-right {
    padding-left: 100px;
  }
}

/* line 81, ../sass/partials/_node.scss */
.group-left {
  padding-top: 1em;
}
/* line 84, ../sass/partials/_node.scss */
.group-left h2.js-trigger:hover {
  color: #0db2df;
}
/* line 86, ../sass/partials/_node.scss */
.group-left h2.js-trigger:hover:after {
  color: #0db2df;
}
/* line 90, ../sass/partials/_node.scss */
.group-left h2.js-trigger:after {
  content: ' +';
  color: grey;
}
/* line 94, ../sass/partials/_node.scss */
.group-left h2.js-trigger.expanded:after {
  content: ' -';
}
@media (min-width: 481px) {
  /* line 83, ../sass/partials/_node.scss */
  .group-left h2.js-trigger {
    display: none;
  }
}
/* line 101, ../sass/partials/_node.scss */
.group-left .field {
  margin-bottom: .75em;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 101, ../sass/partials/_node.scss */
  .group-left .field {
    display: none;
  }
}
@media (min-width: 481px) {
  /* line 101, ../sass/partials/_node.scss */
  .group-left .field {
    display: block;
  }
}
/* line 109, ../sass/partials/_node.scss */
.group-left .field .field-items {
  color: grey;
  font-size: .9em;
}
/* line 112, ../sass/partials/_node.scss */
.group-left .field .field-items a {
  text-decoration: underline;
}
/* line 2, ../sass/global/_mixins.scss */
.group-left .field .field-items a, .group-left .field .field-items a:link {
  color: grey;
}
/* line 7, ../sass/global/_mixins.scss */
.group-left .field .field-items a:visited, .group-left .field .field-items a:link:visited {
  color: grey;
}
/* line 18, ../sass/global/_mixins.scss */
.group-left .field .field-items a.active:hover, .group-left .field .field-items a.active-trail:hover, .group-left .field .field-items a:hover {
  color: black;
}
/* line 25, ../sass/global/_mixins.scss */
.group-left .field .field-items a.active, .group-left .field .field-items a:active, .group-left .field .field-items a.active-trail {
  color: black;
}

/* line 121, ../sass/partials/_node.scss */
.media-youtube-video {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
}
/* line 127, ../sass/partials/_node.scss */
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 140, ../sass/partials/_node.scss */
.field-name-field-program-image img {
  height: auto;
  width: 100%;
}

/* line 1, ../sass/partials/_pager.scss */
.item-list .pager {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #dfdfdf;
  color: #666;
  padding: 10px;
}
/* line 6, ../sass/partials/_pager.scss */
.item-list .pager li {
  display: inline-block;
  margin: 0;
}
/* line 9, ../sass/partials/_pager.scss */
.item-list .pager li.pager-current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #9ea7ae;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
  background: -moz-linear-gradient(0% 0% 270deg, #a9b7c2, #9ea7ae);
  color: #feffff;
  padding: 2px 7px;
}
/* line 18, ../sass/partials/_pager.scss */
.item-list .pager a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #32373b;
  background: #3e4347;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #feffff;
  padding: 3px 10px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/* line 26, ../sass/partials/_pager.scss */
.item-list .pager a:hover {
  background: #3d4f5d;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, left, right);
  background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

/* line 5, ../sass/partials/_sidebar.scss */
html.js fieldset.collapsible .fieldset-legend {
  background: none;
  padding-left: 0;
  white-space: nowrap;
}

/* line 11, ../sass/partials/_sidebar.scss */
.region-sidebar-first h2 {
  cursor: pointer;
}
/* line 13, ../sass/partials/_sidebar.scss */
.region-sidebar-first h2:after {
  content: ' +';
}
/* line 16, ../sass/partials/_sidebar.scss */
.region-sidebar-first h2.expanded:after {
  content: ' -';
}
/* line 19, ../sass/partials/_sidebar.scss */
.region-sidebar-first h2:hover {
  color: #0db2df;
}
/* line 21, ../sass/partials/_sidebar.scss */
.region-sidebar-first h2:hover:after {
  color: #0db2df;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 11, ../sass/partials/_sidebar.scss */
  .region-sidebar-first h2 {
    display: block;
  }
}
@media (min-width: 481px) {
  /* line 11, ../sass/partials/_sidebar.scss */
  .region-sidebar-first h2 {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 32, ../sass/partials/_sidebar.scss */
  .region-sidebar-first > .block > .content {
    display: none;
  }
}
/* line 37, ../sass/partials/_sidebar.scss */
.region-sidebar-first .views-exposed-widget {
  width: 100%;
}
/* line 40, ../sass/partials/_sidebar.scss */
.region-sidebar-first input {
  /* don't show checkboxes */
  display: none;
}
/* line 43, ../sass/partials/_sidebar.scss */
.region-sidebar-first fieldset {
  border: none;
  margin-bottom: 0;
}
/* line 46, ../sass/partials/_sidebar.scss */
.region-sidebar-first fieldset legend {
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
}
/* line 52, ../sass/partials/_sidebar.scss */
.region-sidebar-first fieldset .fieldset-title:after {
  content: ' -';
}
/* line 55, ../sass/partials/_sidebar.scss */
.region-sidebar-first fieldset.collapsed .fieldset-title:after {
  content: ' +';
}
/* line 60, ../sass/partials/_sidebar.scss */
.region-sidebar-first .fieldset-wrapper .bef-toggle {
  font-size: .8em;
}
/* line 63, ../sass/partials/_sidebar.scss */
.region-sidebar-first .fieldset-wrapper label {
  cursor: pointer;
  font-weight: normal;
}
/* line 2, ../sass/global/_mixins.scss */
.region-sidebar-first .fieldset-wrapper label, .region-sidebar-first .fieldset-wrapper label:link {
  color: grey;
}
/* line 7, ../sass/global/_mixins.scss */
.region-sidebar-first .fieldset-wrapper label:visited, .region-sidebar-first .fieldset-wrapper label:link:visited {
  color: grey;
}
/* line 18, ../sass/global/_mixins.scss */
.region-sidebar-first .fieldset-wrapper label.active:hover, .region-sidebar-first .fieldset-wrapper label.active-trail:hover, .region-sidebar-first .fieldset-wrapper label:hover {
  color: #0db2df;
}
/* line 25, ../sass/global/_mixins.scss */
.region-sidebar-first .fieldset-wrapper label.active, .region-sidebar-first .fieldset-wrapper label:active, .region-sidebar-first .fieldset-wrapper label.active-trail {
  color: #0db2df;
}
/* line 68, ../sass/partials/_sidebar.scss */
.region-sidebar-first .fieldset-wrapper .highlight label {
  font-weight: bold;
}
/* line 72, ../sass/partials/_sidebar.scss */
.region-sidebar-first .views-submit-button {
  display: none;
}

/* line 5, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow {
  position: relative;
}
/* line 7, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow img {
  display: block;
}
/* line 10, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-control-nav {
  display: none;
}
/* line 13, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-direction-nav {
  list-style: none;
}
/* line 15, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-direction-nav a {
  background: rgba(151, 151, 151, 0.7) no-repeat 50% 50% url(../images/next.png);
  position: absolute;
  height: 100%;
  overflow: hidden;
  opacity: .7;
  text-indent: -999px;
  top: 0;
  width: 50px;
}
/* line 24, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-direction-nav a:hover {
  background-color: rgba(151, 151, 151, 0.8);
  opacity: 1;
}
/* line 29, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-direction-nav .flex-prev {
  background: rgba(151, 151, 151, 0.5) no-repeat 50% 50% url(../images/prev.png);
  left: 0;
}
/* line 33, ../sass/partials/_slideshow.scss */
.field-name-field-slideshow .flex-direction-nav .flex-next {
  right: 0;
}

/* line 1, ../sass/partials/_tables.scss */
table {
  margin-bottom: .5em;
}

/* line 4, ../sass/partials/_tables.scss */
caption {
  font-size: 20px;
  margin-bottom: .5em;
  text-transform: uppercase;
}

/* line 9, ../sass/partials/_tables.scss */
th {
  background: #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: .35em;
}

/* line 16, ../sass/partials/_tables.scss */
tr.even, tr.odd {
  background: #f2f2f2;
}

/* line 21, ../sass/partials/_tables.scss */
td {
  color: #818181;
  font-size: 13px;
  padding: .35em;
  vertical-align: top;
}
/* line 26, ../sass/partials/_tables.scss */
td:first-child {
  color: black;
}

/* line 1, ../sass/partials/_tabs.scss */
ul.primary {
  border-bottom: none;
  margin-bottom: 1em;
  margin-left: 0;
  padding-bottom: 3px;
  padding-left: 0;
  padding-top: 1em;
  white-space: normal;
}
/* line 9, ../sass/partials/_tabs.scss */
ul.primary li {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0;
}
/* line 13, ../sass/partials/_tabs.scss */
ul.primary li.active a {
  background: gray;
  border-bottom: 1px solid #bbb;
  color: white;
}
/* line 2, ../sass/global/_mixins.scss */
ul.primary li.active a, ul.primary li.active a:link {
  color: white;
}
/* line 18, ../sass/global/_mixins.scss */
ul.primary li.active a.active:hover, ul.primary li.active a.active-trail:hover, ul.primary li.active a:hover {
  color: grey;
}
/* line 18, ../sass/partials/_tabs.scss */
ul.primary li.active a:hover {
  background: black;
}
/* line 22, ../sass/partials/_tabs.scss */
ul.primary li a {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #e5e5e5;
  padding: 3px 10px;
  border-style: solid solid solid solid;
}
/* line 2, ../sass/global/_mixins.scss */
ul.primary li a, ul.primary li a:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
ul.primary li a.active:hover, ul.primary li a.active-trail:hover, ul.primary li a:hover {
  color: grey;
}
/* line 28, ../sass/partials/_tabs.scss */
ul.primary li a:hover {
  border-bottom: 1px solid #ccc;
}

/* line 34, ../sass/partials/_tabs.scss */
.action-links {
  list-style: none;
  padding-left: 0;
}
/* line 37, ../sass/partials/_tabs.scss */
.action-links li {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  display: inline-block;
  padding: .25em .5em;
}
/* line 43, ../sass/partials/_tabs.scss */
.action-links li:hover {
  background: black;
}
/* line 46, ../sass/partials/_tabs.scss */
.action-links li a {
  font-size: .9em;
}
/* line 2, ../sass/global/_mixins.scss */
.action-links li a, .action-links li a:link {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.action-links li a.active:hover, .action-links li a.active-trail:hover, .action-links li a:hover {
  color: grey;
}

/* line 5, ../sass/partials/_views.scss */
.view-partners .views-row {
  margin-bottom: 1.5em;
}
/* line 6, ../sass/partials/_views.scss */
.view-partners .views-row h2 a {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 10, ../sass/partials/_views.scss */
.view-partners .views-row a {
  font-weight: normal;
  text-decoration: underline;
}
/* line 2, ../sass/global/_mixins.scss */
.view-partners .views-row a, .view-partners .views-row a:link {
  color: black;
}
/* line 7, ../sass/global/_mixins.scss */
.view-partners .views-row a:visited, .view-partners .views-row a:link:visited {
  color: black;
}
/* line 18, ../sass/global/_mixins.scss */
.view-partners .views-row a.active:hover, .view-partners .views-row a.active-trail:hover, .view-partners .views-row a:hover {
  color: grey;
}
/* line 25, ../sass/global/_mixins.scss */
.view-partners .views-row a.active, .view-partners .views-row a:active, .view-partners .views-row a.active-trail {
  color: grey;
}
